{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <div class="white-box">
        <h1 class="text-center">Modification de {{ utilisateur.email }}</h1>

        {# Inclusion du fichier _form.html.twig pour le formulaire et son bouton submit #}
        {% include 'utilisateur/_form.html.twig' with {'form': form} %}
        <br>
        {{ include('utilisateur/_delete_form.html.twig') }}

        <a href="{{ path('app_utilisateur_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
