.table-vols {
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-vols th,
.table-vols td {
    padding: 15px 20px;
    text-align: center;
}

.table-vols thead {
    background-color: #3498db;
    color: white;
}

.table-vols tr:nth-child(even) {
    background-color: #f2f2f2;
}