{% extends 'base.html.twig' %}

{% block title %}AerOmnes{% endblock %}

{% block body %}
    <div data-jarallax data-speed=".8" style="background-image: url(assets/img/1.jpg)">
        <div class="d-flex flex-column min-vh-100 bg-black bg-opacity-50 pt-10 pt-md-8 pb-7 pb-md-0">
            <div class="container my-auto">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6 text-center">
                        <h1 class="display-1 text-white mb-4">AerOmnes</h1>

                        <!-- Subheading -->
                        <p class="text-center text-white text-opacity-75 mb-7">
                            A unique café located in the heart of Los Angeles. Always fresh coffee and biscuits. Open for indoor dining and to-go orders.
                        </p>

                        <!-- Button -->
                        <a class="btn btn-outline-primary text-white text-primary-hover mb-7 mb-md-0" href="#reservation"> Make reservation </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
