{% extends 'base.html.twig' %}

{% block title %}New Vol{% endblock %}

{% block body %}
    <div class="white-box">
        <h1 class="text-center">Nouveau Vol</h1>

    {{ include('vol/_form.html.twig') }}

    <a href="{{ path('app_vol_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
