<form method="post" action="{{ path('app_avion_delete', {'id': avion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avion.id) }}">
    <button class="btn">Delete</button>
</form>
